.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.view.view-courses .view-filters .views-exposed-form .js-form-type-select .form-select {
  height: 3rem;
  margin: 0.5rem 0;
  padding: 0 2rem 0 1rem;
  font-size: 1rem;
  font-weight: normal;
  background-color: #fff;
  border: 1px solid #aaa;
}
@media screen and (max-width: 560px) {
  .view.view-courses .view-filters .views-exposed-form .js-form-type-select .form-select {
    width: 100%;
  }
}
.view.view-courses .view-filters .views-exposed-form .form-actions .form-submit {
  padding: 0.6rem 1rem;
  text-transform: initial;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #0033a0;
}
.view.view-courses .view-filters .views-exposed-form .form-actions .form-submit:hover {
  background-color: #0033a0;
  color: #fff;
  cursor: pointer;
}
.view.view-courses .view-content .views-field {
  margin-bottom: 0.6rem;
}
.view.view-courses .view-content .views-field .course-id {
  font-weight: bold;
  margin-bottom: 0.6rem;
}
.view.view-courses .view-content .views-field.views-field-field-college-and-department {
  font-size: 1.2rem;
}
.view.view-courses .view-content .views-field.views-field-field-sign-up-link .field-content a.button {
  padding: 0.6rem 1rem;
  text-transform: initial;
  border-radius: 0.5rem;
}
.view.view-courses .view-content .item-list ul.items {
  padding-left: 0;
}
.view.view-courses .view-content .item-list ul.items li.course-item {
  list-style-type: none;
}
.view.view-courses .view-content .item-list ul.items li.course-item + li {
  border-top: 1px solid #aaa;
  margin-top: 1.5rem;
}
.view.view-courses .view-content .item-list ul.items li.course-item .views-field .course-id {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}
.view.view-courses .view-content .item-list ul.items li.course-item .views-field.views-field-field-semesters-offered .views-label {
  font-weight: bold;
}
.view.view-courses .view-content .item-list ul.items li.course-item .views-field.views-field-field-semesters-offered .field-content ul li {
  list-style-type: disc;
}
@media screen and (max-width: 1200px) {
  .view.view-courses .view-content .views-view-responsive-grid {
    --views-responsive-grid--column-count: 2 !important;
  }
}
@media screen and (max-width: 768px) {
  .view.view-courses .view-content .views-view-responsive-grid {
    --views-responsive-grid--column-count: 1 !important;
  }
}
.view.view-courses .view-content .views-view-responsive-grid .views-view-responsive-grid__item {
  border: 2px solid #0033a0;
  border-radius: 0.5rem;
}
.view.view-courses .view-content .views-view-responsive-grid .views-view-responsive-grid__item .views-view-responsive-grid__item-inner {
  display: grid;
  height: 100%;
}
.view.view-courses .view-content .views-view-responsive-grid .views-view-responsive-grid__item .views-view-responsive-grid__item-inner .views-field .field-content.course-id {
  background: #eee;
  margin: 0;
  padding: 1rem 0.6rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
.view.view-courses .view-content .views-view-responsive-grid .views-view-responsive-grid__item .views-view-responsive-grid__item-inner .views-field:not(.views-field-nothing) {
  padding: 0 0.6rem;
}
.view.view-courses .view-content .views-view-responsive-grid .views-view-responsive-grid__item .views-view-responsive-grid__item-inner .views-field.views-field-field-semesters-offered {
  margin-bottom: 1rem;
}
.view.view-courses .view-content .views-view-responsive-grid .views-view-responsive-grid__item .views-view-responsive-grid__item-inner .views-field.views-field-field-sign-up-link {
  align-self: end;
}

.mfp-wrap {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.mfp-wrap.mfp-ready {
  opacity: 1;
}
.mfp-wrap .mfp-container .mfp-content .desc-content {
  background: #fff;
  padding: 2rem 3rem;
  max-width: 70vw;
  margin: 4rem auto;
  position: relative;
}

/*# sourceMappingURL=courses.css.map */
