// ****** //
// Mixins //
// ****** //
@mixin rounded-button {
  padding: 0.6rem 1rem;
  text-transform: initial;
  border-radius: 0.5rem;
}

// ************** //
// General styles //
// ************** //
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

// *********** //
// View styles //
// *********** //
.view.view-courses {
  // Styles for filter form
  // ----------------------
  .view-filters {
    .views-exposed-form {
      .js-form-type-select {
        .form-select {
          height: 3rem;
          margin: 0.5rem 0;
          padding: 0 2rem 0 1rem;
          font-size: 1rem;
          font-weight: normal;
          background-color: #fff;
          border: 1px solid #aaa;

          @media screen and (max-width: 560px) {
            width: 100%;
          }
        }
      }

      .view-type-selector {
        margin-bottom: 0.75rem;

        .label {
          font-size: 1.1667rem;
        }

        ul {
          display: inline;
          padding-left: 0;

          li {
            display: inline;
            list-style-type: none;
            margin: 0 0.5rem;

            a {
              &.current {
                text-decoration: none;
                font-weight: bold;
              }
            }
          }
        }
      }

      .form-actions {
        .form-submit {
          @include rounded-button;
          background-color: #fff;
          color: #0033a0;

          &:hover {
            background-color: #0033a0;
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }
  }

  .view-content {
    // Styles for all views
    // --------------------
    .views-field {
      margin-bottom: 0.6rem;

      .course-id {
        font-weight: bold;
        margin-bottom: 0.6rem;
      }

      &.views-field-field-college-and-department {
        font-size: 1.2rem;
      }

      &.views-field-body {

      }

      &.views-field-field-sign-up-link {
        .field-content {
          a.button {
            @include rounded-button;
          }
        }
      }
    }

    // Styles for list view
    // --------------------
    .item-list {
      ul.items {
        padding-left: 0;

        li.course-item {
          list-style-type: none;

          & + li {
            border-top: 1px solid #aaa;
            margin-top: 1.5rem;
          }

          .views-field {
            .course-id {
              text-decoration: underline;
              text-underline-offset: 0.2rem;
            }

            &.views-field-field-semesters-offered {
              .views-label {
                font-weight: bold;
              }
              .field-content {
                ul li {
                  list-style-type: disc;
                }
              }
            }
          }
        }
      }
    }

    // Styles for grid/card view
    // -------------------------
    .views-view-responsive-grid {
      @media screen and (max-width: 1200px) {
        --views-responsive-grid--column-count: 2 !important;
      }
      @media screen and (max-width: 768px) {
        --views-responsive-grid--column-count: 1 !important;
      }

      .views-view-responsive-grid__item {
        border: 2px solid #0033a0;
        border-radius: 0.5rem;

        .views-view-responsive-grid__item-inner {
          display: grid;
          height: 100%;

          .views-field {
            .field-content.course-id {
              background: #eee;
              margin: 0;
              padding: 1rem 0.6rem;
              border-radius: 0.5rem 0.5rem 0 0;
            }

            &:not(.views-field-nothing) {
              padding: 0 0.6rem;
            }

            &.views-field-field-semesters-offered {
              margin-bottom: 1rem;
            }

            &.views-field-field-sign-up-link {
              align-self: end;
            }
          }
        }
      }
    }
  }
}

// ************ //
// Modal styles //
// ************ //
.mfp-wrap {
  // Animation
  opacity: 0;
  transition: all 0.2s ease-in-out;

  &.mfp-ready {
    opacity: 1;
  }

  .mfp-container {
    .mfp-content {
      .desc-content {
        background: #fff;
        padding: 2rem 3rem;
        max-width: 70vw;
        margin: 4rem auto;
        position: relative;
      }
    }
  }
}
